[submodule "fiftyone_devicedetection_onpremise/fiftyone_devicedetection_onpremise/device-detection-cxx"]
	path = fiftyone_devicedetection_onpremise/fiftyone_devicedetection_onpremise/device-detection-cxx
	url = ../device-detection-cxx
